* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium';
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.Formulario {
    background-color: rgb(255, 255, 255);
    padding: 40px 40px;
    width: 40%;
    margin: auto;
    margin-top: 0px;
}
.Formulario .btn {
    width: 90%;
    margin: auto;
}

footer {
    margin-top: 200px;
}

@media (max-width: 800px) {
    .Formulario {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 1366px) {
    .Formulario {
        width: 100%;
        margin: auto;
        margin-top: -50px;
    }

    footer {
        margin-top: 50%;
    }
}